body,
ul {
  margin: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  background-color: lightblue;
  color: darkblue;
}

main{
  min-height: 71vh;
}

h1 {
  font-size: 32px;
  text-align: center;
  font-family: Arial, sans-serif;
}

p {
  font-size: 18px;
  padding: 10px;
  margin: 20px;
  font-family: Georgia, serif;
}


.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.column {
  flex: 1;
  padding: 10px;
}



.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
}


.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.brand {
  display: flex;
  align-items: center;
}


li>a {
  padding: 8px 24px;
}


li {
  list-style-type: none;
}


a {
  color: white;
  text-decoration: none;
}


.nav-links {
  display: flex;
  align-items: center;
}


.button-menu-toggle {
  display: none;
}



.nav-links {
  display: none;
}


.button-menu-toggle {
  display: block;
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 0 24px;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

.nav-links.nav-links-responsive {
  position: absolute;
  display: flex;
  background-color: rgba(20, 20, 20, 0.95);
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  gap: 70px;
  font-size: 40px;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

frame,
video {
  max-width: 90%;
  padding: 10px;
  gap: 5px;
}

img{
  height: 200px;
  margin-top: 35px;
}

.img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

footer {
  position: relative;
  bottom: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-color: aliceblue;
  width: 100%;
}

.greeting{
  text-align: center;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}
@media (max-width: 767px) {
  .column {
    flex: 100%;
  }
}

@media (max: width 767px) {
  header {
    background-color: #333;
  }
}

@media (max: width 767px) {
  nav {
    font-size: 16px;
  }
}

@media (min-width: 1200px ) {
  header {
    width: 100%;
  }
}